# Build outputs
bin/
obj/

# Rider/JetBrains
.idea/
*.sln.iml
*.DotSettings.user
*.sln.DotSettings.user
*.sln.DotSettings.user

# VS/VS Code
.vs/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test results
TestResults/

# NuGet packages (optional)
*.nupkg
*.snupkg
packages/

# Logs
*.log
